# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# logs
*.log
logs/*
log/*

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage
test-report.xml

# sonar
/.scannerwork

# production
/build

# editor configs
.idea
.vscode/*
*.code-workspace

# misc
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Mac .DS_Store
.DS_Store
